In [20]:
import configparser
config = configparser.ConfigParser()
config.read('config.ini')

API_KEY = config["quandl"]["API_KEY"]
DB_NAME = config["quandl"]["DB_NAME"]

In [36]:
# quandl.bulkdownload("FRED")

In [37]:
import os
import urllib.request

# Download file

filename_input = "https://www.quandl.com/api/v3/databases/" + DB_NAME + "/metadata?api_key=" + API_KEY
filename_output = DB_NAME + ".zip"

urllib.request.urlretrieve(filename_input, filename_output)

('WIKI.zip', <http.client.HTTPMessage at 0x7f97ec3d3978>)

In [40]:
import pandas as pd 

n = 300
df_codes = pd.read_csv(filename_output)
codes = list(df_codes["code"].sample(n))

In [46]:
# Import data

import quandl
quandl.ApiConfig.api_key = API_KEY

symbol = 'SPY'

df = quandl.get("WIKI/GOOGL", start_date="2008-10-01", end_date="2018-10-01", returns="pandas") #['Close'].to_frame(name = symbol)

In [55]:
df_g = quandl.get("WIKI/GOOGL", start_date="2008-10-01", end_date="2018-10-01", returns="pandas")['Close'].to_frame(name = "GOOGL")
df_a = quandl.get("WIKI/AAPL", start_date="2008-10-01", end_date="2018-10-01", returns="pandas")['Close'].to_frame(name = "AAPL")

In [56]:
from functools import reduce
df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), [df_g, df_a])

In [57]:
df_final

              GOOGL     AAPL
Date
2008-10-01   411.72  109.120
2008-10-02   390.49  100.100
2008-10-03   386.91   97.070
2008-10-06   371.21   98.140
2008-10-07   346.01   89.160
2008-10-08   338.11   89.790
2008-10-09   328.98   88.740
2008-10-10   332.00   96.800
2008-10-13   381.02  110.260
2008-10-14   362.71  104.080
2008-10-15   339.17   97.950
2008-10-16   353.02  101.890
2008-10-17   372.54   97.400
2008-10-20   379.32   98.440
2008-10-21   362.75   91.490
2008-10-22   355.67   96.870
2008-10-23   352.32   98.230
2008-10-24   339.29   96.380
2008-10-27   329.49   92.090
2008-10-28   368.75   99.910
2008-10-29   358.00  104.550
2008-10-30   359.69  111.040
2008-10-31   359.36  107.590
2008-11-03   346.49  106.960
2008-11-04   366.94  110.990
2008-11-05   342.24  103.300
2008-11-06   331.22   99.100
2008-11-07   331.14   98.240
2008-11-10   318.78   95.880
2008-11-11   311.46   94.770
...             ...      ...
2018-02-13  1054.14  164.340
2018-02-14  1072.70  167.370
2018-02-15  1091.36  172.990
2018-02-16  1095.50  172.430
2018-02-20  1103.59  171.850
2018-02-21  1113.75  171.070
2018-02-22  1109.90  172.600
2018-02-23  1128.09  175.555
2018-02-26  1143.70  178.970
2018-02-27  1117.51  178.390
2018-02-28  1103.92  178.120
2018-03-01  1071.41  175.000
2018-03-02  1084.14  176.210
2018-03-05  1094.76  176.820
2018-03-06  1100.90  176.670
2018-03-07  1115.04  175.030
2018-03-08  1129.38  176.940
2018-03-09  1160.84  179.980
2018-03-12  1165.93  181.720
2018-03-13  1139.91  179.970
2018-03-14  1148.89  178.440
2018-03-15  1150.61  178.650
2018-03-16  1134.42  178.020
2018-03-19  1100.07  175.300
2018-03-20  1095.80  175.240
2018-03-21  1094.00  171.270
2018-03-22  1053.15  168.845
2018-03-23  1026.55  164.940
2018-03-26  1054.09  172.770
2018-03-27  1006.94  168.340

[2386 rows x 2 columns]

In [51]:
df_g["Close"]

Date
2008-10-01     411.72
2008-10-02     390.49
2008-10-03     386.91
2008-10-06     371.21
2008-10-07     346.01
2008-10-08     338.11
2008-10-09     328.98
2008-10-10     332.00
2008-10-13     381.02
2008-10-14     362.71
2008-10-15     339.17
2008-10-16     353.02
2008-10-17     372.54
2008-10-20     379.32
2008-10-21     362.75
2008-10-22     355.67
2008-10-23     352.32
2008-10-24     339.29
2008-10-27     329.49
2008-10-28     368.75
2008-10-29     358.00
2008-10-30     359.69
2008-10-31     359.36
2008-11-03     346.49
2008-11-04     366.94
2008-11-05     342.24
2008-11-06     331.22
2008-11-07     331.14
2008-11-10     318.78
2008-11-11     311.46
               ...
2018-02-13    1054.14
2018-02-14    1072.70
2018-02-15    1091.36
2018-02-16    1095.50
2018-02-20    1103.59
2018-02-21    1113.75
2018-02-22    1109.90
2018-02-23    1128.09
2018-02-26    1143.70
2018-02-27    1117.51
2018-02-28    1103.92
2018-03-01    1071.41
2018-03-02    1084.14
2018-03-05    1094.76
2018-03-06    1100.90
2018-03-07    1115.04
2018-03-08    1129.38
2018-03-09    1160.84
2018-03-12    1165.93
2018-03-13    1139.91
2018-03-14    1148.89
2018-03-15    1150.61
2018-03-16    1134.42
2018-03-19    1100.07
2018-03-20    1095.80
2018-03-21    1094.00
2018-03-22    1053.15
2018-03-23    1026.55
2018-03-26    1054.09
2018-03-27    1006.94
Name: Close, Length: 2387, dtype: float64

In [61]:
import DataProvider

In [65]:
%time

df = DataProvider.get_securities(10, "2013-10-01", "2018-10-01")

CPU times: user 8 µs, sys: 1 µs, total: 9 µs
Wall time: 15 µs

In [66]:
df

,FXCM,ALCO,GUID,WIX,ULTA,AVEO,TEAR,KIRK,TSO,SFLY
Date,,,,,,,,,,
2013-11-06,16.170,38.57,8.70,16.31,131.410,2.0500,10.4900,17.86,47.44,46.930
2013-11-07,14.840,38.45,8.65,16.56,126.840,2.0700,10.5800,17.42,48.29,45.118
2013-11-08,15.480,38.44,8.85,17.30,127.890,2.0300,11.4800,17.57,50.09,48.260
2013-11-11,15.570,37.32,8.87,17.94,128.270,2.0400,10.7500,18.36,51.19,48.570
2013-11-12,15.750,36.76,8.71,17.55,129.530,2.0100,10.7200,18.74,52.21,49.480
2013-11-13,16.290,37.48,8.72,17.27,130.410,2.0100,9.5400,18.86,53.27,49.680
2013-11-14,15.690,37.07,8.65,17.34,130.440,2.0900,8.9800,18.32,54.95,49.240
2013-11-15,15.690,37.43,8.73,17.66,131.242,2.0400,9.8200,19.66,54.53,50.800
2013-11-18,15.520,37.30,8.80,18.74,129.980,2.0300,9.9100,22.63,55.38,50.788
2013-11-19,15.750,37.08,8.82,18.11,127.490,2.0000,9.1700,22.65,56.06,48.870
2013-11-20,15.850,37.48,8.68,18.41,125.800,1.9800,8.7100,22.85,55.03,47.899
2013-11-21,16.110,37.65,8.82,18.30,127.110,1.9700,8.7000,23.87,56.73,48.120
2013-11-22,16.150,37.80,9.07,18.17,128.000,1.9900,8.5900,23.68,57.42,47.920
2013-11-25,16.500,37.88,9.06,18.30,129.150,2.1000,8.8900,24.60,57.56,46.520
2013-11-26,16.850,38.21,9.07,18.21,128.890,2.0300,9.3700,25.29,56.96,46.560
2013-11-27,16.670,38.49,9.22,19.53,128.470,2.1300,9.4000,25.66,59.08,46.510
2013-11-29,16.660,38.98,9.25,20.50,126.940,2.1200,9.3700,25.62,58.63,47.230
2013-12-02,16.380,38.92,8.95,22.94,126.930,2.1300,9.3100,25.50,58.85,46.220
2013-12-03,16.180,38.83,9.04,22.07,125.010,2.0300,9.1700,25.40,57.42,47.030
2013-12-04,16.310,38.08,8.74,21.03,123.480,2.0200,9.2800,25.28,55.78,48.300
2013-12-05,16.290,38.04,8.60,21.93,118.000,2.0300,8.8900,24.43,55.61,47.720
2013-12-06,16.580,38.32,8.71,23.89,93.760,2.0400,8.9500,24.68,57.70,47.650
2013-12-09,16.820,38.04,8.65,24.64,90.210,2.0300,8.8500,24.64,57.99,48.100
2013-12-10,16.760,38.00,8.50,25.19,94.390,2.0000,8.6600,24.35,57.72,48.500
2013-12-11,16.520,37.46,8.84,24.99,93.210,1.9500,8.6000,23.92,56.25,47.220
2013-12-12,16.280,38.10,8.79,23.96,91.240,1.8800,8.9400,24.27,56.94,47.600
2013-12-13,15.800,37.91,8.71,24.23,91.960,1.7100,8.9100,24.59,56.30,47.720
2013-12-16,15.990,38.49,9.06,25.91,91.180,1.6800,8.7700,24.30,58.37,46.170
2013-12-17,16.030,38.81,9.06,27.62,91.630,1.6200,8.7300,24.05,56.98,45.670
2013-12-18,15.990,38.46,9.22,27.92,93.640,1.6200,8.7000,24.31,57.52,48.770
...,...,...,...,...,...,...,...,...,...,...
2017-01-12,7.350,26.55,7.29,50.35,260.950,0.6200,0.5610,14.24,80.68,52.510
2017-01-13,7.400,26.50,7.42,50.65,261.400,0.6150,0.5700,14.11,79.61,52.840
2017-01-17,7.300,26.55,7.10,51.05,263.060,0.6500,0.5800,14.20,80.83,53.330
2017-01-18,7.500,26.50,7.44,52.50,265.500,0.6502,0.6625,14.06,81.63,53.490
2017-01-19,7.600,26.40,7.19,54.05,266.120,0.6700,0.6500,13.84,80.56,52.920
2017-01-20,7.850,26.50,7.10,53.45,266.220,0.6798,0.6744,14.21,80.48,52.330
2017-01-23,7.350,26.60,7.06,53.75,266.020,0.6500,0.6401,13.61,80.43,52.120
2017-01-24,7.350,26.60,7.19,55.30,268.810,0.6500,0.6500,13.68,81.98,52.400
2017-01-25,7.350,26.60,7.32,56.20,272.010,0.6400,0.6800,14.09,82.03,52.790
2017-01-26,7.250,26.65,7.15,55.05,272.420,0.6588,0.6600,13.47,81.94,52.750
2017-01-27,7.000,26.55,7.09,54.70,271.440,0.6480,0.6496,13.65,82.02,52.590
2017-01-30,7.000,26.35,7.27,53.25,270.180,0.6100,0.6132,13.86,83.41,51.560
2017-01-31,7.000,26.95,7.26,52.55,272.280,0.6200,0.6300,13.88,80.85,51.330
2017-02-01,7.155,27.00,7.07,52.25,269.540,0.6290,0.6595,13.55,80.98,51.770
2017-02-02,7.150,27.55,7.07,51.45,270.750,0.6000,0.6298,13.59,82.51,43.700
2017-02-03,7.000,27.95,7.23,52.20,272.060,0.5949,0.6003,11.60,83.52,44.090
2017-02-06,6.850,27.30,6.91,51.90,273.080,0.6100,0.5975,11.36,83.35,43.040
2017-02-07,3.450,27.60,6.98,51.90,272.490,0.5999,0.5299,11.14,85.19,42.910
2017-02-08,2.900,26.35,6.91,52.85,272.820,0.6000,0.5515,11.43,85.32,43.130
2017-02-09,3.000,26.25,6.77,54.35,272.870,0.6032,0.5900,11.67,87.58,43.320
2017-02-10,2.900,26.30,6.86,53.35,269.840,0.6409,0.5900,11.63,87.33,43.820
2017-02-13,2.900,26.25,7.17,52.95,268.120,0.6411,0.5304,11.49,87.35,44.160
2017-02-14,2.800,25.75,7.45,52.95,271.460,0.7255,0.5800,11.51,88.01,44.750
2017-02-15,2.850,26.10,7.56,61.50,273.640,0.8350,0.5600,11.44,88.01,45.730
2017-02-16,2.950,26.40,7.37,62.95,272.090,0.7880,0.5300,11.29,87.23,47.400
2017-02-17,2.900,26.30,7.33,63.85,275.150,0.7800,0.5100,11.40,86.64,48.060
2017-02-21,2.800,26.15,7.41,65.55,277.260,0.7600,0.5300,11.46,89.08,47.180
2017-02-22,2.850,26.05,6.92,65.55,277.190,0.7720,0.5100,11.36,88.00,47.200
2017-02-23,2.750,26.10,7.06,63.25,274.600,0.8125,0.5036,11.15,88.86,46.740
2017-02-24,2.800,25.90,6.90,65.05,276.330,0.7855,0.5253,11.20,87.95,45.950